<section class="media_link">

    <a
        class="youtube"
        href="https://www.youtube.com/@visser6416"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fa-brands fa-youtube"></i>
    </a>

    <a
        class="twitch"
        href="https://www.twitch.tv/visser6416"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fa-brands fa-twitch"></i>
    </a>

    <a
        class="twitter"
        href="https://twitter.com/visser64163"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fa-brands fa-twitter"></i>
    </a>

    <a
        class="linktree"
        href="https://linktr.ee/visser6416"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fa-solid fa-link"></i>
    </a>

    <a
        class="clibo"
        href="https://clibo.tw/users/visser6416"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fa-solid fa-file-signature"></i>
    </a>

    <a
        class="discord"
        href="https://discord.gg/ndxkPyvQCh"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fa-brands fa-discord"></i>
    </a>

</section>