<nav class="navbar">

    <div class="logo">
        <a href="index.html">
            <img
                class="logoicon"
                src="images/logoicon.png"
                alt="惟瑟 Visser"
            >

            <span class="logo_text">
                惟瑟Visser
            </span>
        </a>
    </div>

    <button
        class="menu_toggle"
        id="menu_toggle"
        type="button"
        aria-label="開啟導覽選單"
        aria-expanded="false"
        aria-controls="navbar_menu"
    >
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div
        class="menu"
        id="navbar_menu"
    >
        <a href="index.html">首頁</a>
        <a href="about.html">關於</a>
        <a href="works.html">作品</a>
        <a href="commission.html">委託</a>
        <a href="contact.html">聯繫</a>
    </div>

</nav>